.Page {
  background: #f8f8f8;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  .PageContainer {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    > div {
      &.flex-item {
        position: relative;
        overflow: hidden;
        z-index: 1;
        > div {
          width: 100%;
          position: absolute;
          left: 0;
          top: 0;
          bottom: 0;
          overflow-y: scroll;
          -webkit-overflow-scrolling: touch;
          > ul {
            padding: 0.15rem;
            position: relative;
            > li {
              background: #fff;
              position: relative;
              overflow: visible;
              padding: 0.15rem;
              box-shadow: 0 0 0.02rem 0.02rem rgba(0, 0, 0, 0.05);
              margin-top: 0.15rem;
              border-radius: 0.06rem;
              &:first-child {
                margin-top: 0;
              }
              > .Close {
                display: inline-block;
                position: absolute;
                right: 0;
                top: 0;
                font-size: 0.2rem;
                color: #999;
              }
              > div {
                align-items: center;
                > span {
                  &:first-child {
                    font-size: 0.12rem;
                    line-height: 0.2rem;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    > em {
                      color: #d91d36;
                      font-size: 0.12rem;
                      line-height: 0.2rem;
                      font-weight: bold;
                    }
                  }
                }
              }
              > ul {
                font-size: 0;
                > li {
                  display: inline-block;
                  vertical-align: middle;
                  width: 0.32rem;
                  height: 0.32rem;
                  border-radius: 100%;
                  position: relative;
                  overflow: hidden;
                  background: #ff5200;
                  margin-right: 0.12rem;
                  margin-top: 0.1rem;
                  &.active {
                    background: #3f63e5;
                  }
                  > div {
                    width: 100%;
                    > span {
                      font-size: 0.12rem;
                      display: block;
                      text-align: center;
                      color: #fff;
                      line-height: 0.14rem;
                    }
                  }
                }
              }
            }
          }
          > .OtherTab {
            padding: 0 0.15rem;
            position: relative;
            margin-bottom: 0.15rem;
            > div {
              background: #fff;
              border-radius: 0.06rem;
              box-shadow: 0 0 0.02rem 0.02rem rgba(0, 0, 0, 0.05);
              > div {
                padding: 0.15rem;
                border-top: 0.01rem solid #f7f7f7;
                align-items: center;
                &:first-child {
                  border-top: none;
                }
                &:nth-child(1) {
                  > span {
                    &:nth-child(1) {
                      font-size: 0.15rem;
                      color: #666;
                      line-height: 0.2rem;
                    }
                    &:nth-child(2) {
                      display: inline-block;
                      margin-left: 0.1rem;
                      position: relative;
                      overflow: hidden;
                      border: 0.01rem solid #f7f7f7;
                      border-radius: 0.03rem;
                      font-size: 0;
                      white-space: nowrap;
                      > * {
                        display: inline-block;
                        vertical-align: middle;
                        font-size: 0.14rem;
                        color: #999;
                        line-height: 0.2rem;
                        border-left: 0.01rem solid #f7f7f7;
                        &:first-child {
                          border: none;
                          border-right: 0.01rem solid #f7f7f7;
                        }
                      }
                      > a {
                        width: 0.2rem;
                        text-align: center;
                      }
                      > input {
                        border: none;
                        width: 0.35rem;
                        text-align: center;
                        color: #333;
                        &:disabled {
                          color: #333;
                        }
                      }
                      > span {
                        border: none;
                        margin-right: 0.03rem;
                      }
                    }
                  }
                }
                &:nth-child(2) {
                  > span {
                    &:nth-child(1) {
                      font-size: 0.15rem;
                      color: #666;
                      line-height: 0.2rem;
                    }
                    &:nth-child(2) {
                      font-size: 0.1rem;
                      color: #fff;
                      display: inline-block;
                      position: relative;
                      overflow: visible;
                      background: #ff5200;
                      border-radius: 0.02rem;
                      padding: 0 0.05rem;
                      line-height: 0.16rem;
                      margin-right: 0.1rem;
                      &::after {
                        content: "";
                        width: 0;
                        height: 0;
                        border-width: 0.04rem;
                        display: block;
                        position: absolute;
                        right: -0.07rem;
                        top: 50%;
                        transform: translateY(-50%) rotateZ(90deg);
                        -webkit-transform: translateY(-50%) rotateZ(90deg);
                        border-style: solid solid dashed solid;
                        border-color: transparent transparent #ff5200 transparent;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
      &.Bottom {
        background: #fff;
        position: relative;
        overflow: hidden;
        box-shadow: 0 0 0.02rem 0.02rem rgba(0, 0, 0, 0.05);
        z-index: 2;
        padding: 0.15rem;
        padding-bottom: 0.2rem;
        > .Store {
          font-size: 0;
          text-align: center;
          > a {
            display: inline-block;
            font-size: 0.14rem;
            color: #333;
            line-height: 0.2rem;
            max-width: 100%;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }
        }
        > .Count {
          font-size: 0;
          text-align: center;
          white-space: nowrap;
          margin-top: 0.05rem;
          > span {
            display: inline-block;
            vertical-align: middle;
            font-size: 0.12rem;
            color: #333;
            line-height: 0.2rem;
            margin-left: 0.1rem;
            &:first-child {
              margin-left: 0;
            }
            > em {
              color: #d91d36;
              font-size: 0.12rem;
              line-height: 0.2rem;
              font-weight: bold;
            }
          }
        }
        > a {
          display: block;
          text-align: center;
          font-size: 0.16rem;
          line-height: 0.42rem;
          background: #ccc;
          border-radius: 0.06rem;
          color: #fff;
          margin-top: 0.1rem;
          &.active {
            background: #ff5200;
          }
        }
      }
      &.Layer {
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        z-index: 10;
        background: rgba(0, 0, 0, 0.7);
        > div {
          width: 80%;
          background: #fff;
          border-radius: 0.06rem;
          position: relative;
          overflow: hidden;
          padding-top: 0.15rem;
          > span {
            font-size: 0.14rem;
            font-weight: bold;
            color: #000;
            line-height: 0.3rem;
            display: block;
            text-indent: 0.15rem;
          }
          > ul {
            padding: 0 0.15rem;
            position: relative;
            overflow: hidden;
            &.ScrollList {
              max-height: 2.5rem;
              overflow-y: scroll;
              -webkit-overflow-scrolling: touch;
            }
            > li {
              align-items: center;
              border-top: 0.01rem solid #f7f7f7;
              &:first-child {
                border: none;
              }
              > div {
                position: relative;
                > div {
                  width: 100%;
                  position: relative;
                  > span {
                    display: block;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    font-size: 0.14rem;
                    color: #333;
                    line-height: 0.42rem;
                  }
                }
              }
              > span {
                font-size: 0.14rem;
                color: #999;
                margin-right: 0.1rem;
              }
              > i {
                font-size: 0.2rem;
                color: #999;
                &.active {
                  color: #ff5200;
                }
              }
            }
          }
          > .Bottom {
            border-top: 0.01rem solid #f7f7f7;
            > a {
              font-size: 0.16rem;
              line-height: 0.42rem;
              text-align: center;
              border-left: 0.01rem solid #f7f7f7;
              &.active {
                color: #ff5200;
              }
              &:first-child {
                border: none;
              }
            }
          }
        }
      }
    }
  }
}
