.components.ZuQiuDanGuanShengPingFu {
  padding: 0 0.15rem;
  position: relative;
  overflow: hidden;
  > ul {
    > li {
      border-top: 0.01rem solid #f7f7f7;
      padding: 0.15rem 0;
      &:first-child {
        border-top: none;
      }
      > .Title {
        align-items: center;
        > div {
          position: relative;
          overflow: hidden;
          // margin-left: 0.2rem;
          > div {
            width: 100%;
            position: relative;
            overflow: hidden;
            > span {
              font-size: 0.12rem;
              color: #333;
              line-height: 0.2rem;
              display: block;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }
          }
        }
        > span {
          font-size: 0.1rem;
          color: #999;
          margin-left: 0.1rem;
          > em {
            font-size: 0.1rem;
            color: #3f63e5;
          }
        }
      }
      > .Detail {
        // align-items: center;
        // margin-top: 0.05rem;
        // > span {
        //   font-size: 0.1rem;
        //   color: #999;
        //   margin-right: 0.4rem;
        // }
        // > div.flex-item {
        //   > div.flex-item {
        //     position: relative;
        //     overflow: hidden;
        //     > div.flex-h {
        //       margin-top: 0.05rem;
        //       align-items: center;
        //       &:first-child {
        //         margin-top: 0;
        //       }
        //       > span {
        //         font-size: 0.1rem;
        //         width: 0.16rem;
        //         line-height: 0.16rem;
        //         text-align: center;
        //         border: 0.01rem solid #999;
        //         color: #999;
        //         border-radius: 100%;
        //         margin-right: 0.1rem;
        //         &.Yellow {
        //           color: #fff;
        //           background: #ff5100;
        //           border-color: #ff5100;
        //         }
        //         &.Blue {
        //           color: #fff;
        //           background: #3f63e5;
        //           border-color: #3f63e5;
        //         }
        //       }
        //       > a {
        //         text-align: center;
        //         border: 0.01rem solid #999;
        //         margin-left: 0.05rem;
        //         font-size: 0.13rem;
        //         line-height: 0.22rem;
        //         &.active {
        //           color: #fff;
        //           background: #ff5100;
        //           border-color: #ff5100;
        //         }
        //       }
        //     }
        //   }
        //   > a {
        //     font-size: 0.1rem;
        //     color: #ff5100;
        //     line-height: 0.2rem;
        //     border: 0.01rem solid #999;
        //     margin-left: 0.05rem;
        //     position: relative;
        //     overflow: hidden;
        //     padding: 0 0.02rem;
        //     padding-top: 0.04rem;
        //     margin-right: 0.2rem;
        //   }
        // }
      }
    }
  }
}
